.but {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    top: 2%;
    left: 2%;
    width: 30px;
    height: 30px;
    background: #1c1f30;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s;
    z-index: 110;
};
.but:hover {
    background: #fff;
    color: #1c1f30;
    transform: scale(2);
    z-index: 110;
    transition: 0.8s;
};