.cont {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 30vh;
    background: #2d31478a;
    backdrop-filter: blur(5px);
    color: #5c6074;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    padding: 5px;
    align-items: flex-start;
    overflow: hidden;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin-left: 200px;
    padding: 20px;
    border-left: 1px solid #5c60745d;
}
.as {
    color: #5c6074;
    transition: 0.3s;
}
.as:hover {
    color: #31f151;
    text-shadow: 1px 1px 3px #1a7a2a;
    transition: 0.8s;
}